<header class="w-full mt-3 gap-3 bg-white flex flex-col" >
      <div class="w-[95%] md:w-[80%] flex items-center justify-between self-center h-15" >
        <app-icon name="kbr" [sizeW]="160" class="flex items-center justify-center"></app-icon>
        <h2 class="uppercase font-semibold text-green tracking-widest" >Co2 Calculator</h2>
      </div>
      <div class="flex bg-green items-center justify-center gap-5 py-4" >
        <app-icon name="eco" [sizeW]="62" class="mb-[-50px]" ></app-icon>
        <h1 class="uppercase font-semibold text-white -tracking-wider text-3xl" >Eco calculator</h1>
      </div>
</header>
